.brands-section {
    margin-top: 150px;

    &-block {
        &-flexbox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            &__img {
                max-width: 190px;
                margin: 0 auto;
            }
        }
    }

    
}