.choose-plan-section {
    margin-top: 200px;

    &-block {
        &-textBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px 0;

            &__title {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 500;
                font-size: 35px;
                line-height: 50px;
                color: #0B132A;
                text-align: center;
            }
    
            &__text {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #4F5665;
                max-width: 555px;
                text-align: center; 
            }
        }

        &-flexbox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px 0;
            padding-top: 40px;

            &-innerBox {
                min-width: 330px;
                min-height: 760px;
                border: 2px solid #DDDDDD;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                &-contentBox {
                    display: flex;
                    flex-direction: column;
                    gap: 130px 0;
                    
                    &-textBox {
                        display: flex;
                        flex-direction: column;
                        gap: 30px 0;
                        align-items: center;

                        &-box {
                            display: flex;
                            flex-direction: column;
                            gap: 10px 0;

                            &-aminitiesBox {
                                display: flex;
                                gap: 0 25px;
                            }
                        }
                    }

                    &-buttonBox {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20px 0;

                        &__title {
                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 25px;
                            line-height: 30px;
                            color: #0B132A;
                        }

                        &__btn {
                            padding: 10px 75px;
                            border: 2px solid #F53838;
                            border-radius: 50px;
                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 19px;
                            color: #F53838;
                            transition: 0.4s ease;
                        }

                        &__btn:hover {
                            background-color: #F53838;
                            color: #fff;
                        }
                    }
                }

                .gap {
                    gap: 98px 0;
                }

                .gap50 {
                    gap: 70px 0;
                }
            }
        }
    }

    @media (max-width: 1106px) {
        .choose-plan-section {
            &-block {
                &-flexbox {
                    &-innerBox:nth-child(3) {
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    @media (max-width: 676px) {
        .choose-plan-section {
            &-block {
                &-flexbox {
                    justify-content: center;    

                    &-innerBox:nth-child(3) {
                        margin: 0;
                    }
                }
            }
        }
    }
}