.footer {
    width: 1440px;
    width: 100%;
    min-height: 563.12px;
    background: #F8F8F8;
    margin-top: -120px;
    z-index: -2;
    padding: 180px 150px;

    &-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0 230px;
        padding-top: 100px;
        gap: 40px 0;

        &-logoBox {
            display: flex;
            flex-direction: column;
            gap: 30px 0;

            &-box {
                display: flex;
                flex-direction: column;
                gap: 20px 0;
                
                &__text {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 30px;
                    color: #4F5665;
                    max-width: 340px;
                }
            }

            &__text {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #AFB5C0;
            }
        }

        &-navBox {
            display: flex;
            flex-wrap: wrap;
            gap: 50px 126px;

            .footer-block-nav {
                display: flex;
                flex-direction: column;
                gap: 20px 0;

                &__title {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 30px;
                    color: #0B132A;
                }

                &-ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px 0;

                    &-li {
                        &__link {
                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 30px;
                            color: #4F5665;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .footer {
        padding: 180px 0;

        &-block {
            justify-content: center;

            &-logoBox {
                justify-content: center;

                &-box {
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 340px) {
    .footer {
        padding: 180px 0;

        &-block {
            justify-content: center;

            &-logoBox {
                justify-content: center;

                &-box {
                    justify-content: center;
                }
            }

            &-navBox {
                justify-content: center;
            }
        }
    }
}