.header {
    min-height: 100px;
    padding-top: 25px;

    &-block {
        &-flexbox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px 0;

            &-nav {
                &-ul {
                    display: flex;
                    align-items: center;
                    gap: 10px 40px;
                    flex-wrap: wrap;

                    &-li {
                        &__link {
                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: #4F5665;
                        }
                    }
                }
            }

            &-buttonBox {
                display: flex;
                align-items: center;
                gap: 15px 30px;

                &__btn {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #0B132A;
                }

                .red {
                    padding: 15px 35px;
                    border: 1px solid #F53855;
                    border-radius: 50px;
                    color: #F53855;
                    transition: 0.4s ease;
                }

                .red:hover {
                    background-color: #F53855;
                    color: #fff;
                }
            }
        }
    }

    @media (max-width: 828px) {
        .header {
            &-block {
                &-flexbox {
                    &-buttonBox {
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    @media (max-width: 614px) {
        .header {
            &-block {
                &-flexbox {
                    justify-content: center;
                }
            }
        }
    }

    @media (max-width: 614px) {
        .header {
            &-block {
                &-flexbox {
                    &-nav {
                        &-ul {
                            justify-content: center;
                        }
                    }

                    &-buttonBox {
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

