.hero-section {
    margin-top: 100px;

    &-block {
        &-flexbox {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;

            &-textBox {
                display: flex;
                flex-direction: column;
                gap: 50px 0;

                &-box {
                    max-width: 555px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px 0;

                    &__title {
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 50px;
                        line-height: 70px;
                        color: #0B132A;
                    }

                    &__text {
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 30px;
                        color: #4F5665;
                    }

                    &-secondBox {
                        display: flex;
                        flex-direction: column;
                        gap: 0;

                        &-innerBox {
                            display: flex;
                            gap: 0 12px;
                            align-items: flex-end;
    
                            .text {
                                padding-top: 15px;
                            }
                        }
                    }
                }

                &__btn {
                    width: 250px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 25px;
                    color: #FFFFFF;
                    background-color: #F53855;
                    border: 1px solid #F53855;
                    transition: 0.4s ease;
                }

                &__btn:hover {
                    background-color: #FFFFFF;  
                    color: #F53855;
                }
            }
        }
    }

    @media (max-width: 900px){
        .hero-section {
            &-block {
                &-flexbox {
                    flex-direction: column;
                    gap: 50px 0;

                    &__img {
                        width: 100%;
                    }

                    &-textBox {
                        &-box {
                            text-align: center;
                        }

                        &__btn {
                            margin: 0 auto;
                        }
                    }
                }

                .secondFlex {
                    flex-direction: column-reverse;
                }
            }
        }
    }

    @media (max-width: 520px){
        .hero-section {
            &-block {
                &-flexbox {
                    &-textBox {
                        &-box {
                            &__title {
                                font-size: 28px;
                                line-height: 32px;
                            }

                            &-secondBox {
                                justify-content: center;
                                margin: 0 auto;
        
                                &-innerBox {
                                    text-align: center;
                                    margin: 0 auto;
                                }
                            }
                        }

                        &__btn {
                            width: 95%;
                        }
                    }
                }
            }
        }
    }
} 

.margin-top {
    margin-top: 200px;


    .fs-2 {
        max-width: 383px;
    }

    .text {
        max-width: 447px;
    }

}